# Python-related
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/
*.egg

# Pipenv
Pipfile.lock

# Google API credentials
client_secrets.json
credentials.json

# Output directories
_output/
results/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# LibreOffice temporary files
.~lock.*#

# PowerPoint temporary files
~$*.pptx

# PDF files
*.pdf

# Temporary files
*.tmp
*.bak
*.swp
